.home-page-container {
  background-color: #131313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

@media (min-width: 576px) {
  .home-page-top-container {
    background-image: url('https://res.cloudinary.com/dlygjzdo7/image/upload/v1673094235/Netflix%20Clone%20App/Home/home_top_bg-image_lg_q34eq6.png');
    background-size: auto;
    background-position: center;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  .home-page-top-container {
    /* background-image: url('https://res.cloudinary.com/dlygjzdo7/image/upload/v1673094234/Netflix%20Clone%20App/Home/home_top_bg-image_sm_cbw7vc.png'); */
    background-image: url('https://res.cloudinary.com/dlygjzdo7/image/upload/v1673171329/Netflix%20Clone%20App/Home/home_top_bg-image_sm_1_bj6bps.jpg');
    background-size: cover;
    background-position: center;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.top-container-middle-text-container {
  padding-left: 7.5%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 985px) {
  .top-container-middle-text-container {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .top-container-middle-text-container {
    margin-top: 140px;
  }
}

.superman-heading {
  font-family: Roboto;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #ffffff;
}

@media (max-width: 575px) {
  .superman-heading {
    font-size: 36px;
    line-height: 49px;
  }
}

.superman-description {
  font-family: Roboto;

  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  width: 400px;
  color: #ffffff;
}

@media (max-width: 575px) {
  .superman-description {
    font-size: 16px;
    line-height: 20px;
    width: 95%;
    color: #ffffff;
  }
}

.play-button {
  width: 72px;
  height: 40px;
  color: #171f46;

  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 575px) {
  .play-button {
    width: 72px;
    height: 30px;
    font-weight: 500;
  }
}

.top-container-bottom-blur-container {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #181818 92.82%,
    #181818 98.68%,
    #181818 108.61%
  );
  color: transparent;
  height: 162px;
}

@media (max-width: 575px) {
  .top-container-bottom-blur-container {
    height: 80px;
  }
}

.home-page-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-grow: 1;
  padding: 15px 7.5%;
}

@media (max-width: 575px) {
  .home-page-bottom-container {
    padding: 15px 10%;
  }
}

.trending-movies-container {
}

.tending-now-movies-heading {
  font-family: Bree Serif;

  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}

.originals-heading {
  font-family: Bree Serif;

  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}

@media (max-width: 575px) {
  .tending-now-movies-heading {
    font-family: Bree Serif;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
  }

  .originals-heading {
    font-family: Bree Serif;

    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #e50014;
}
