.movie-image {
  width: 254px;
  height: 170px;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid white;
}

@media (max-width: 1124px) {
  .movie-image {
    width: 190px;
    height: 140px;
  }
}

@media (max-width: 992px) {
  .movie-image {
    width: 185px;
    height: 140px;
  }
}

@media (max-width: 946px) {
  .movie-image {
    width: 225px;
    height: 160px;
  }
}

@media (max-width: 866px) {
  .movie-image {
    width: 205px;
    height: 140px;
  }
}

@media (max-width: 821px) {
  .movie-image {
    width: 190px;
    height: 130px;
  }
}

@media (max-width: 767px) {
  .movie-image {
    width: 190px;
    height: 130px;
  }
}

@media (max-width: 743px) {
  .movie-image {
    width: 182px;
    height: 125px;
  }
}

@media (max-width: 700px) {
  .movie-image {
    width: 160px;
    height: 100px;
  }
}

@media (max-width: 607px) {
  .movie-image {
    width: 140px;
    /* height: 100px; */
  }
}

@media (max-width: 561px) {
  .movie-image {
    width: 130px;
    height: 100px;
  }
}

@media (max-width: 544px) {
  .movie-image {
    width: 190px;
    height: 120px;
  }
}

@media (max-width: 511px) {
  .movie-image {
    width: 180px;
    height: 100px;
  }
}

@media (max-width: 491px) {
  .movie-image {
    width: 160px;
    height: 98px;
  }
}

@media (max-width: 435px) {
  .movie-image {
    width: 140px;
    height: 90px;
  }
}

@media (max-width: 389px) {
  .movie-image {
    width: 125px;
    height: 90px;
  }
}

@media (max-width: 347px) {
  .movie-image {
    width: 120px;
    height: 90px;
  }
}
