.header-nav-bar {
  padding: 20px 7.5%;
  background-color: rgba(19, 19, 19, 0.2);
}

@media (max-width: 435px) {
  .header-nav-bar {
    padding: 20px 6%;
  }
}

.nav-items-container {
  display: flex;
  align-items: center;
}

.header-movies-logo {
  width: 135px;
  height: 39px;
}

.logo-nav-link {
  margin-right: 5%;
  text-decoration: none;
}

@media (max-width: 575px) {
  .header-movies-logo {
    width: 100px;
    height: 27px;
    margin-right: 0;
  }
}

.menu-options-and-search-avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* @media (max-width: 767px) {
  .menu-options-and-search-avatar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
  }
} */

.menu-options-container {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .menu-options-container {
    display: none;
  }
}

.menu-option {
  font-family: Roboto;

  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-right: 30px;
}

.menu-option-nav-link-item {
  text-decoration: none;
  color: #ffffff;
}

.search-avatar-container {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .search-avatar-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.search-icon-alone {
  color: #ffffff;
  width: 22px;
  height: 22px;
}

@media (max-width: 434px) {
  .search-icon-alone {
    width: 20px;
    height: 20px;
  }
}

/*  */
.search-bar-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

@media (max-width: 575px) {
  .search-bar-icon-container {
    width: 175px;
  }
}

@media (max-width: 412px) {
  .search-bar-icon-container {
    width: 155px;
  }
}

.search-input {
  background-color: transparent;
  border: none;
  font-family: Roboto;
  letter-spacing: 0.45px;
  color: #ff0015ea;

  font-size: 16px;
  outline: none;
  border-radius: 4px;
  padding-left: 16px;
}

@media (max-width: 575px) {
  .search-input {
    width: 138px;
    padding-left: 12px;
  }
}
@media (max-width: 412px) {
  .search-input {
    width: 120px;
    padding-left: 12px;
    font-size: 14px;
  }
}

.search-button-container {
  background-color: #3b3a37;
  padding: 4px 15px;
  border-radius: 0 4px 4px 0;
}

@media (max-width: 575px) {
  .search-button-container {
    padding: 4px 6px;
    border-radius: 0 4px 4px 0;
  }
}

.search-icon-button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* .search-icon-beside-search-bar {
  color: #ffffff;
  width: 18px;
  height: 18px;
} */

/*  */
.hamburger-button {
  display: none;
}

.hamburger-icon {
  color: #ffffff;
  width: 25px;
  height: 25px;
}

@media (max-width: 767px) {
  .hamburger-button {
    display: inline;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    margin-left: 15px;
  }
}

@media (max-width: 434px) {
  .hamburger-button {
    display: inline;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    margin-left: 8px;
  }
  .hamburger-icon {
    color: #ffffff;
    width: 22px;
    height: 22px;
  }
}

.profile-nav-link-item {
  margin-left: 30px;
}

.profile-container {
  background-color: #ffffff;
  border-radius: 50%;
  height: 48px;
  width: 47px;
}

@media (max-width: 767px) {
  .profile-container {
    display: none;
  }
}

.header-avatar {
  width: 48px;
  height: 48px;
}

.menu-items-list-mobile-view-container {
  display: flex;
  align-items: center;

  padding: 2px 5%;
  list-style: none;
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .menu-items-list-mobile-view-container {
    display: none;
  }
}

.menu-option-mobile {
  font-size: 18px;
  line-height: 26px;

  letter-spacing: -0.355556px;

  color: #ffffff;
  margin-right: 55px;
}

@media (max-width: 575px) {
  .menu-option-mobile {
    margin-right: 30px;
  }
}

@media (max-width: 470px) {
  .menu-option-mobile {
    margin-right: 20px;
  }
}

@media (max-width: 385px) {
  .menu-option-mobile {
    margin-right: 10px;
  }
}

.close-menu-option {
  margin-left: auto;
}

.close-button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
}
